$bg: white;
$dark: #212625;
$colour: #D0D9D6;
$highlight: #BF0404;
body{
  background-color:$bg;
  font-family:helvetica neue;
}
#container{
  width:1000px;
  margin:auto;
}
header{
  color: $highlight;
  text-align:center;
  h1{
    font-size:60px;
    margin:10px auto 0;
  }
  h2{
    margin:0 auto 20px;
  }
}
section{
  margin:auto;
  width:800px;
  height:200px;
  padding:40px;
  background-color:darken($bg, 70%);
  border:20px solid darken($bg, 30%);
  color:$colour;
  form{
    label{
      display:block;
      font-size:24px;
    }
    input{
      margin-top:10px;
      font-size:30px;
      width:800px;
      height:1.2em;
      box-shadow:0 0 1px #777;
      border-radius: 3px;
      background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
    }
  }
  .example{
    a{
      color:#1B97F2;
      &:hover{
        color:darken(#1B97F2, 10%);
      }
    }
  }
  .stamp{
    text-align:center;
  }
}
#result{
  color:$colour;
  font-size:45px;
  padding:20px 0;
}
footer{
  margin:20px auto;
  text-align:center;
  color:darken($colour, 25%);
  text-shadow:1px 1px 0px lighten($colour, 10%);
  a{
    color:$highlight;
    &:hover{
      color:darken($highlight, 10%);
    }
  }
}