$bg: #212625;
$colour: #D0D9D6;
$highlight: #BF0404;
body{
  background-color:$bg;
  font-family:helvetica neue;
}
#container{
  width:1000px;
  margin:auto;
}
header{
  color: $highlight;
  text-align:center;
  h1{
    font-size:60px;
    margin:10px auto;
  }
  h2{
  }
}
section{
  margin:auto;
  width:800px;
  height:250px;
  padding:40px;
  background-color:lighten($bg, 12%);
  border:20px solid lighten($bg, 70%);
  form{
    label{
      color:$colour;
      display:block;
    }
    input{
      margin-top:10px;
      font-size:30px;
      width:800px;
      height:1.2em;
      box-shadow:0 0 1px #777;
      border-radius: 3px;
    }
  }
}
#result{
  color:$colour;
  font-size:40px;
  padding:30px 0;
}
footer{
  margin:20px auto;
  text-align:center;
  color:darken($colour, 10%);
  text-shadow:0 0 1px darken($colour, 50%);
  a{
    color:$highlight;
  }
}