body{
  background-color:#222;
  font-family:sans-serif;
}
#container{
  width:800px;
  margin:auto;
  color:#ddd;
}
header{
  color: #ccc;
  text-align:center;
  h1{
  }
  h2{
  }
}
section{
  form{
    label{
    }
    input{
    }
  }
}